body {
  background: ;
}

.container-fluid {
  background: green;
}

/*=============
Generic CSS html and Body
==============*/
html,
body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

/*===========
preloader
=============*/
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#status {
  background-image: url(../images/preloader/preloader.gif);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

.logo {
  height: 100px;
}

.navbar-brand {
  display: contents;
  height: 50%;

}

.navbar {
  padding: 0 0;
  margin-left: : 0;
}
.navbar-nav{
  text-align: right;
  position:

}
/*===================
About Section part 1
=====================*/
#about-right p:first-child {
  margin-bottom: 30px;
}

#about-bottom {
  margin-top: 60px;
}

#about-bottom img {
  margin: 0 auto;
}

/*===================
Content box
=====================*/
.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

/*===================
Vertical heading
=====================*/
.vertical-heading h5 {
  color: #f4c613;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -53px;
}

.vertical-heading h2 {
  margin: 0 0 0 35px;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

/*===================
Horizontal hedaing
=====================*/
.horizontal-heading {
  margin-bottom: 80px;
  margin-top: 30px;
}

.horizontal-heading h5 {
  font-size: 16px;
  color: #f4c613;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.horizontal-heading h2 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
  margin: 0;
}

.pssubhash {
  height: 200px;
}

.astory {
  margin-top: 25px;
}

.stor {
  color: #6d3939;
}

/*===================
About Section part 2
=====================*/
#about-02 {
  background-color: #f4f4f4;
}

.about-item {
  background-color: #2699a9;
  padding: 80px 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.about-item i {
  font-size: 42px;
  margin: 0;
}

.about-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-item hr {
  width: 45px;
  height: 3px;
  background-color: #f4c613;
  margin: 0 auto;
  border: none;
}

.about-item p {
  margin-top: 5px;
}

/*=================================
About Section part 2 - Hover state
=================================*/
.about-item:hover {
  background-color: #e4c666;
}

.about-item:hover i,
.about-item:hover p,
.about-item:hover h3 {
  color: #fff;
}

.about-item:hover hr {
  background-color: #6d3939;
}

.about-item:hover i {
  transform: translateY(-20px);
}

/*=================================
About Section part 2 - smoth transition
=================================*/
.about-item,
.about-item i,
.about-item hr {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* TESTIMONIALS */
#testimonials {
  text-align: center;
  background-color: #6d3939;
  color: #fff;
}

.testimonial-image {
  width: 30%;
  margin: 20px;
  position: relative;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  color: #e4c666;
  position: relative;
}

.incorporated {
  text-align: justify;
}

.primary {
  text-align: justify;
}

/*=============
Services 01
==============*/
#services-01 {
  margin: 0;
  background-color: #fff;
  padding-bottom: 0;
}

.service {
  margin: 0;
}

.service .icon {
  font-size: 42px;
  margin: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.service:hover .icon {
  color: #6d3939;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.service h5 {
  font-size: 24px;
  text-transform: uppercase;
  color: #f4c613;
  margin: 0 0 6px 0;
}

.service:hover h5 {
  color: #212226;
}

.service h4 {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.service p {
  line-height: normal;
}

.serv {
  height: 50%;
  margin-left: 20px;
  margin-top: 10px;
 
}

#footer{

  text-align: center;
  background-color: #e4c666;

}
.fab{
  padding-right: 20px;
}
